<div class=" home-cover">
  
  
  <div class="cover-title">
    <h1>Fullstack Developer, Designer</h1>
  </div>
  
  <div class="cover-p">
    <p>I'm Nicolas Barbier<br>welcome to my portfolio webpage<br><%= image_tag("logotype-transparent.png", alt: "portrait", id: "logotype-transparent")%></p>
  </div>
</div>



<section id="intro">
  <%= video_tag "intro-portfolio.mp4", :controls => false, id: "intro-vid", class: "hideme" %>
</section>

<section id="discipline"> 
  <h1 class="skills-title">{ SKILLS }</h1>
  <div class="skills">
    <div id="skill-dev" class="skills-pic">
      <%= link_to "more ...", portfolio_web_dev_path, class: "link-button"%> 
    </div>
    <div class="skills-text">
      <h3>Fullstack Web development</h3>
      <p> My approach to website is to create a unique paradigm that belong to the company or brand univers. I ensure a use and simplicity for your audience. I'm experienced with html/css for sure, also Ruby, Rails, javascript, react basics.</p>
    </div>
  </div>
  <div class="skills">
    <div id="skill-des" class="skills-pic">
      <%= link_to "more ...",  portfolio_designs_path , class: "link-button"%>
    </div>
    <div class="skills-text">
      <h3>graphic designer - DA</h3>
      <p> In France I was Art Director. I like graphism, graphic creation. I worked in ad agencies like McCann Erikson, Léo Burnett, Hakuhodo. This is where I learned the power of  picture.</p>
    </div>
  </div>
  <div class="skills">
    <div id="skill-teach" class="skills-pic">
      <%=link_to "more ...", eurekods_path , class: "link-button"%>   
    </div>
    <div class="skills-text">
      <h3>Eurekod - Teaching</h3>
      <p> Within BogotaDev company I'm Ruby and Rails teacher. I know to deliver a message straight to the point thanks to my comunicator skills,  ensuring you leave your class all understood. Recently I started a dev auto channel named Eurekod.</p>
    </div>
  </div>
</section>


<section id="contact-section">
  
  <%= link_to image_tag("whatsapp-logo.png", class: "wa-icon"), url_for("https://wa.me/573217289779?text=I'm%20interested%20in%20your%20services."), target: '_blank'%>
  
  <div class="contact-card hideme">
    <div class="contact-text">
      <h1>Leave me a message !</h1>
      <p>Feel free to fullfill the form if you need my services, or even if you just want to ask for more infos. Or clic on the whatsapp icon at the very top right corner, to contact me.</p>
    </div>
    <div class="form-area">
      <%= form_for @contact do |f| %>
        
        <%= f.text_field :name, required: true, class: "form-contact", placeholder: "Name" %>

        <br>

        <%= f.email_field :email, required: true, class: "form-contact", placeholder: "Email" %>

        <br>

        <%= f.phone_field :mobile, required: true, class: "form-contact", placeholder: "Phone" %>

        <br>

        <%= f.text_area :message, as: :text, class: "form-contact", placeholder: "Message", rows: "7" %>

        <%= f.text_field :nickname, hint: 'leave this field blank', style: "display: none" %>

        <br>


        <%= f.submit "Send", class: "form-button" %>
      <% end %>
    </div>        
  </div>
</section>











<script type="text/javascript">
  var navLinks = document.querySelectorAll(".s-nav-link")
  var linksText = document.querySelectorAll(".s-link-text")
  
  function timeLinks(index, time){
    setTimeout(function(){
      navLinks[index].style.cssText = "filter: grayscale(0%) opacity(1); background: var(--bg-secondary); color: var(--text-secondary);"
      linksText[index - 1].style.cssText = "display: inline; min-width: 75px;"
      document.querySelector(".s-navbar").style.width = "13rem"
      document.querySelector(".s-navbar .logo svg").style.cssText = "margin-left: 160px; transform: rotate(720deg); position: relative; top: -20px; width: 2.7rem;"
      document.querySelector("#logotypo-nixsys").style.left = "20px"
    }, time)
  }
  
  function timeLinksOut(index, time){
    setTimeout(function(){
      navLinks[index].style.cssText = ""
      linksText[index - 1].style.cssText = ""
      document.querySelector(".s-navbar").style.width = ""
      document.querySelector(".s-navbar .logo svg").style.cssText = ""
      document.querySelector("#logotypo-nixsys").style.left = ""
    }, time)
  }
  
  
  function deployMenu(){ 
      setTimeout(function(){
        timeLinks(1, 500)
        timeLinksOut(1, 1000)
        timeLinks(2, 1000)
        timeLinksOut(2, 1500)
        timeLinks(3, 1500)
        timeLinksOut(3, 2000)
        timeLinks(4, 2000)
        timeLinksOut(4, 2500)
      }, 1000);
  }
  
  if (sessionStorage.getItem("welcomed") === "no") {
    deployMenu()
    sessionStorage.setItem("welcomed", "yes")
  }
  
  
  
  

  
  
  
  
  var introVideo = document.querySelector("#intro-vid");
  introVideo.pause();

  // to make appear element when it's in the viewport
  $(document).ready(function() {

    $(window).on('load', function(){

      $('.hideme').each( function(i){

          let bottom_of_object = $(this).offset().top + $(this).outerHeight();
          let bottom_of_window = $(window).scrollTop() + $(window).height();

          /* If the object is completely visible in the window, fade it it */
          if( bottom_of_window  >= bottom_of_object ){

              $(this).animate({'opacity':'1'},500);
              
              if ($(this).prop("tagName") == "VIDEO") {
                if(this.played.length === 0 )
                $(this)[0].play();
                
              }
          }

      });

      $('.final-anime').each( function(i){

          let bottom_of_object = $(this).offset().top + $(this).outerHeight();
          let bottom_of_window = $(window).scrollTop() + $(window).height();

          /* If the object is completely visible in the window, fade it it */
          if( bottom_of_window  >= bottom_of_object ){

              $(this).animate({'opacity':'1'},800);
          }

      });

      $('.final-background').each( function(i){

          let bottom_of_object = $(this).offset().top + $(this).outerHeight();
          let bottom_of_window = $(window).scrollTop() + $(window).height();

          /* If the object is completely visible in the window, fade it it */
          if( bottom_of_window  >= bottom_of_object ){

            $(this).animate({'opacity':'1'},1000);
          }

      });
    // your logic here`enter code here`
    });

    /* Every time the window is scrolled ... */
    $(window).scroll( function(){

        /* Check the location of each desired element */
        $('.hideme').each( function(i){

            let bottom_of_object = $(this).offset().top + $(this).outerHeight();
            let bottom_of_window = $(window).scrollTop() + $(window).height();

            /* If the object is completely visible in the window, fade it it */
            if( bottom_of_window  >= bottom_of_object ){

                $(this).animate({'opacity':'1'},500);
                
                if ($(this).prop("tagName") == "VIDEO") {
                  if(this.played.length === 0 )
                  $(this)[0].play();
                  
                }
            }

        });

        $('.final-anime').each( function(i){

            let bottom_of_object = $(this).offset().top + $(this).outerHeight();
            let bottom_of_window = $(window).scrollTop() + $(window).height();

            /* If the object is completely visible in the window, fade it it */
            if( bottom_of_window  >= bottom_of_object ){

                $(this).animate({'opacity':'1'},800);
            }

        });

        $('.final-background').each( function(i){

            let bottom_of_object = $(this).offset().top + $(this).outerHeight();
            let bottom_of_window = $(window).scrollTop() + $(window).height();

            /* If the object is completely visible in the window, fade it it */
            if( (bottom_of_window + bottom_of_window*0.1) >= bottom_of_object ){

              $(this).animate({'opacity':'1'},800);
            }

        });

      });

});

  
</script>

