
<section class="portfolio-cover">
    
      <h1 class="portfolio-title1">PORTFOLIO</h1>
      <div class="p-cover-center">
        <%= link_to portfolio_web_dev_path do%> <h1>WEB DEV</h1> <% end %>
        <%=image_tag("nix-papertoy.png", class: "papertoy")%>
        <%= link_to portfolio_designs_path do%> <h1>DESIGN</h1> <% end %>
      </div>
    
</section>


<%= link_to "Web Dev", portfolio_web_dev_path%>
<%= link_to "Designs",  portfolio_designs_path %>


