<%= form_for [:portfolio, @project] do |form| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
        <% @project.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  
  
  
  
  <div class="field">
    <%= form.label :ref_date %><br>
    <%= form.date_field :ref_date %><br><br>
  </div>

  <div class="field">
    <%= form.label :project_type %>
    <%= form.text_field :project_type %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>
  
  <div class="field">
    <%= form.label :url %>
    <%= form.text_area :url %>
  </div>
  
  <div class="field">
    <%= form.label :picture %>
    <%= form.file_field :picture %>
  </div>
  
  <% if @project.picture.attached? %>
    <div class="edit-pic">
      <div class="pic-icon">
      <%= image_tag @project.picture.variant(resize_to_limit: [50, 50]) %>
      </div>
      <div class="field">
        <%= form.label :remove_p_picture%>
        <%= form.check_box :remove_p_picture %>
      </div>   
    </div>
  <% end %>
  
  <div class="field">
    <%= form.label :content %>
    <%= form.rich_text_area :content %>
  </div>
  
  

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
