<div class="desing-index">
  <% if user_signed_in? && current_user.role == 'admin'%>
    <%= link_to 'New Project', new_portfolio_project_path %>
  <% end %>
  <h1 class="index-title">{ Web Projects }</h1>
  <div class="projects-grid">
    <%@projects.each do |project|%>
      <%= link_to([:portfolio, project]) do %>
        <div class="thumbnail-card">
          <div class="thumbnail-box">
            <%=image_tag(project.picture, class: 'thumbnail-pic') if project.picture.attached?%>
          </div>
          <% if user_signed_in? && current_user.role == 'admin'%>
            <div class="online-cont">
              <p>online: </p>
              <svg  class="dot-line" style="width: 10px; margin-top: 3px;" viewBox="0 0 10 10">
                <g>
                	<circle data-online="<%= project.online %>" class="online-point" cx="5" cy="5" r="5"/>
                </g>
              </svg>
            </div>
          <% end %>
          <div class="card-f-line">
            <p class="thumbnail-title"><%=project.name%></p>
            <p> <%= project.ref_date.strftime("%d-%m-%Y") %> </p>
          </div>
          <div class="thumbnail-details">
            <p><%=project.project_type%></p>
            <p><%=project.description%>.</p>
          </div>
        </div>
      <% end %>
    <% end %>  
  </div>
</div>

<script type="text/javascript">
   document.querySelectorAll(".online-point").forEach((item, i) => {
     if (item.dataset.online === "true") {
       console.log(item.dataset.online)
       item.style.fill = "#00ff01"
     } else {
       console.log(item.dataset.online)
       item.style.fill = "#fe0000"
     }
   });
</script>