<div class="desing-index">
  <%= link_to 'New Project', new_portfolio_project_path %>
  <h1 class="index-title">{ Web Projects }</h1>
  <div class="projects-grid">
    <%@projects.each do |project|%>
      <%= link_to([:portfolio, project]) do %>
        <div class="thumbnail-card">
          <div class="thumbnail-box">
            <%=image_tag(project.picture, class: 'thumbnail-pic') if project.picture.attached?%>
          </div>
          <p class="thumbnail-title"><%=project.name%></p>
          <div class="thumbnail-details">
            <p><%=project.project_type%></p>
            <p><%=project.description%>.</p>
          </div>
        </div>
      <%end%>
    <%end%>
  </div>
</div>
