<div class="desing-index">
  <%= link_to 'New Design', new_portfolio_design_path %>
  <h1 class="index-title">{ Design Projects }</h1>
  <div class="projects-grid">
    <%@designs.each do |design|%>
      <%= link_to([:portfolio, design]) do %>
        <div class="thumbnail-card">
          <div class="thumbnail-box">
            <%=image_tag(design.picture, class: 'thumbnail-pic') if design.picture.attached?%>
          </div>
          <p class="thumbnail-title">test <%=design.name%></p>
          <div class="thumbnail-details">
            <p><%=design.design_type%></p>
            <p> <%= project.description %></p>
          </div>
        </div>
      <%end%>
    <%end%>
  </div>
</div>