<div class="desing-index">
  <% if user_signed_in? && current_user.role == 'admin'%>
    <%= link_to 'New Design', new_portfolio_design_path %>
  <% end %>
  <h1 class="index-title">{ Design Projects }</h1>
  <div class="projects-grid">
    <%@designs.each do |design|%>
      <%= link_to([:portfolio, design]) do %>
        <div class="thumbnail-card">
          <div class="thumbnail-box">
            <%=image_tag(design.picture, class: 'thumbnail-pic') if design.picture.attached?%>
          </div>
          <% if user_signed_in? && current_user.role == 'admin'%>
            <div class="online-cont">
              <p>online: </p>
              <svg  class="dot-line" style="width: 10px; margin-top: 3px;" viewBox="0 0 10 10">
                <g>
                	<circle data-online="<%= design.online %>" class="online-point" cx="5" cy="5" r="5"/>
                </g>
              </svg>
            </div>
          <% end %>
          <div class="card-f-line">
            <p class="thumbnail-title"><%=design.name%></p>
            <p class="thumbnail-title"><%=design.ref_date.strftime("%d-%m-%Y")%></p>
          </div>
          <div class="thumbnail-details">
            <p><%=design.design_type%></p>
            <p> <%= design.description %></p>
          </div>
        </div>
      <%end%>
    <%end%>
  </div>
</div>


<script type="text/javascript">
   document.querySelectorAll(".online-point").forEach((item, i) => {
     if (item.dataset.online === "true") {
       console.log(item.dataset.online)
       item.style.fill = "#00ff01"
     } else {
       console.log(item.dataset.online)
       item.style.fill = "#fe0000"
     }
   });
</script>