<!DOCTYPE html>
<html>
  <head>
    <title>Nixsys - Portfolio</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <%= favicon_link_tag asset_path('icon-nixsys32x32.png') %>
    
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet"> 

  </head>

  <body>
    <nav class="s-navbar">
      <ul class="s-navbar-nav">
        <li class="logo">
          <a href="/" class="s-nav-link">
            <img id="logotypo-nixsys" src="/assets/logotest.png" alt="logotype Nixsys">
            <svg 
              version="1.1"
              id="logo-nixsys"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              x="0px" y="0px"
              viewBox="0 0 97.3 97.3"
              style="enable-background:new 0 0 97.3 97.3;"
              xml:space="preserve">
            
               <g id="etoile">
	                <path id="XMLID_14_" class="st1" d="M97.3,48.6C59.5,43,56.2,38.8,59.2,0c-3.2,9.2-5.9,16.4-8.7,22.2v21.6l-8.2-9.1
		                C34,43.3,22.6,45.9,0,48.6v0c37.8,5.6,41.1,9.8,38.1,48.6c3.2-9.2,5.9-16.4,8.7-22.2V53.5l8.2,9.1C63.2,53.9,74.7,51.4,97.3,48.6
		                  L97.3,48.6z"/>
               </g>
            </svg>
          </a>
        </li>
        <li class="s-nav-item">
          <a href="/portfolio" class="s-nav-link">
            <svg 
             version="1.1"
             id="portfolio-icon"
             xmlns="http://www.w3.org/2000/svg"
             xmlns:xlink="http://www.w3.org/1999/xlink"
             x="0px" y="0px"
             viewBox="0 0 72 62.6"
             style="enable-background:new 0 0 72 62.6;"
             xml:space="preserve">
      
             <path id="downpart" class="st0" d="M65.3,13.3H53.5v-7c0-3.5-2.8-6.3-6.3-6.3H24.8c-3.5,0-6.3,2.8-6.3,6.3v7H6.7C3,13.3,0,16.3,0,20
             	v11.1h72V20C72,16.3,69,13.3,65.3,13.3z M27.5,8.9h17.8v4.3H27.5V8.9z"/>
             <path id="uppart" class="st1" d="M45.3,36.4v5.9c0,1.2-0.9,2.1-2.1,2.1H29.6c-1.2,0-2.1-0.9-2.1-2.1v-5.9c0-0.2,0-0.3,0.1-0.5H0
             	v19.9c0,3.7,3,6.7,6.7,6.7h58.5c3.7,0,6.7-3,6.7-6.7V35.9H45.3C45.3,36.1,45.3,36.3,45.3,36.4z"/>
            </svg>
            <span class="s-link-text">Portfolio</span>
          </a>
        </li>
        <li class="s-nav-item">
          <a href="/eurekods" class="s-nav-link">
            <svg
            	version="1.1"
            	id="eurekod-logo"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                x="0px" y="0px"
                viewBox="0 0 64.8 95.5"
                style="enable-background:new 0 0 64.8 95.5;"
                xml:space="preserve">
              
            <path id="paranthèse" class="st1" d="M38.7,59.6c1.2,0,1.4-0.2,1.4-1.5c0-7.2,0-14.3,0-21.5c0-1.6-0.1-1.7-1.8-1.7
            	c-1.2,0-2.3,0-3.5,0V17.1l10.2,0c0.6,0,1.1,0.2,1.5,0.6c2.6,2.6,9.8,9.8,10.7,10.8c0.7,0.7,0.8,1.5,0.8,2.4c0,6.3,0,12.5,0,18.8
            	c0,4.6,0,9.2,0,13.8c0,1.3-0.5,2.3-1.4,3.2c-1.5,1.5-7.4,7.4-8.9,8.8c-0.3,0.3-0.7,0.7-1,1c-0.5,0.7-1.3,0.8-2.1,0.8
            	c-3.3,0-6.5,0-9.8,0V59.6C36.2,59.6,37.4,59.6,38.7,59.6z"/>
            <g id="lumière">
            	<rect id="XMLID_20_" x="30.6" y="0" class="st1" width="3.6" height="11.3"/>
            	
            		<rect id="XMLID_31_" x="12.8" y="6" transform="matrix(-0.5093 -0.8606 0.8606 -0.5093 21.1744 27.6958)" class="st1" width="11.3" height="3.6"/>
            	
            		<rect id="XMLID_32_" x="0.1" y="14" transform="matrix(-0.8546 -0.5194 0.5194 -0.8546 2.4537 32.332)" class="st1" width="11.3" height="3.6"/>
            	
            		<rect id="XMLID_33_" x="53.4" y="14" transform="matrix(0.8546 -0.5194 0.5194 0.8546 0.3715 32.9714)" class="st1" width="11.3" height="3.6"/>
            	
            		<rect id="XMLID_34_" x="44.5" y="2.2" transform="matrix(-0.8606 -0.5093 0.5093 -0.8606 82.2156 38.1257)" class="st1" width="3.6" height="11.3"/>
            </g>
            <g id="culot">
            	<path id="XMLID_11_" class="st0" d="M41.5,91.3H23.7c-0.5,0-0.8,0.4-0.8,0.8v1.2l0.8,2.3h17.8l0.8-2.3v-1.2
            		C42.3,91.6,42,91.3,41.5,91.3z"/>
            	<path id="XMLID_24_" class="st0" d="M43.1,79.3H22.2c-0.5,0-1,0.4-1,1v3.1c0,0.5,0.4,1,1,1h20.9c0.5,0,1-0.4,1-1v-3.1
            		C44.1,79.7,43.6,79.3,43.1,79.3z"/>
            	<path id="XMLID_25_" class="st0" d="M43.1,85.3H22.2c-0.5,0-1,0.4-1,1v3.1c0,0.5,0.4,1,1,1h20.9c0.5,0,1-0.4,1-1v-3.1
            		C44.1,85.7,43.6,85.3,43.1,85.3z"/>
            </g>
            <path id="E" class="st0" d="M30.4,59.6c-1.3,0-2.6,0-3.9,0c-1.2,0-1.4-0.2-1.4-1.5c0-1.6,0-3.2,0-4.8h5.6V41.2h-5.6c0-1.5,0-3,0-4.5
            	c0-1.6,0.1-1.7,1.8-1.7c1.2,0,2.3,0,3.5,0V17.1l-10.2,0c-0.6,0-1.1,0.2-1.5,0.6C16.1,20.4,8.9,27.6,8,28.5C7.3,29.2,7.2,30,7.2,31
            	c0,6.3,0,12.5,0,18.8c0,4.6,0,9.2,0,13.8c0,1.3,0.5,2.3,1.4,3.2c1.5,1.5,7.4,7.4,8.9,8.8c0.3,0.3,0.7,0.7,1,1
            	c0.5,0.7,1.3,0.8,2.1,0.8c3.3,0,6.5,0,9.8,0V59.6z"/>
            </svg>
            <span class="s-link-text">Eurekod</span>
          </a>
        </li>
        <li class="s-nav-item">
          <a href="/about-me" class="s-nav-link">
            <svg
             version="1.1"
             id="about-icon"
             xmlns="http://www.w3.org/2000/svg"
             xmlns:xlink="http://www.w3.org/1999/xlink"
             x="0px" y="0px"
             viewBox="0 0 72 95.8"
             style="enable-background:new 0 0 72 95.8;"
             xml:space="preserve">

              <path id="carte" class="st1" d="M63.2,0H8.8C4,0,0,4,0,8.8v78.1c0,4.9,4,8.8,8.8,8.8h54.3c4.9,0,8.8-4,8.8-8.8V8.8C72,4,68,0,63.2,0
              	z M44.9,11.4H27.1c-1.6,0-2.8-1.3-2.8-2.8s1.3-2.8,2.8-2.8h17.8c1.6,0,2.8,1.3,2.8,2.8S46.5,11.4,44.9,11.4z"/>
              <g id="perso">
              	<circle id="XMLID_2_" class="st0" cx="36" cy="30.3" r="12.5"/>
              	<path id="XMLID_8_" class="st0" d="M45.4,48c-5.6,0-4.1,1.6-9.4,1.6l0,0l0,0c-5.2,0-3.7-1.6-9.4-1.6C13.8,48,15,62.2,15,62.2
              		c0,2.1,1.7,3.8,3.8,3.8H36h17.2c2.1,0,3.8-1.7,3.8-3.8C57,62.2,58.3,48,45.4,48z"/>
              	<rect id="XMLID_9_" x="15" y="71.5" class="st0" width="42" height="2.4"/>
              	<rect id="XMLID_10_" x="15" y="75.8" class="st0" width="42" height="2.4"/>
              	<rect id="XMLID_11_" x="15" y="80" class="st0" width="42" height="2.4"/>
              </g>
            </svg>
            <span class="s-link-text">About Me</span>
          </a>
        </li>
        <li class="s-nav-item">
          <a href="/contacts/new" class="s-nav-link">
            <svg
            version="1.1"
            id="contact-icon"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px" y="0px"
            viewBox="0 0 77 83.2"
            style="enable-background:new 0 0 77 83.2;"
            xml:space="preserve">

            <path id="page-onglet" class="st0" d="M74.5,20.1c1.4,0,2.6-1.1,2.6-2.6v-6.4c0-1.4-1.1-2.6-2.6-2.6h-2.8c-1-3.2-4.4-5.6-8.4-5.6
            	H9.7C4.9,3,1,6.3,1,10.4L0.1,73.1c0,4.1,4.8,10.1,9.6,10.1h53.6c4.8,0,8.7-3.3,8.7-7.4V64.3h2.5c1.4,0,2.6-1.1,2.6-2.6v-6.4
            	c0-1.4-1.1-2.6-2.6-2.6H72V42.2h2.5c1.4,0,2.6-1.1,2.6-2.6v-6.4c0-1.4-1.1-2.6-2.6-2.6H72V20.1H74.5z"/>
            <path id="couverture" class="st1" d="M63.2,0H8.8C4,0,0,3.3,0,7.4v65.4c0,4.1,4,7.4,8.8,7.4h54.3c4.9,0,8.8-3.3,8.8-7.4V7.4
            	C72,3.3,68,0,63.2,0z"/>
            <g id="arobase">
            	<path id="XMLID_13_" class="st0" d="M45.2,31.6l-1.4,11.3c-0.1,0.4-0.1,0.8-0.1,1.2s0,0.7,0,1.1c0,1.1,0.4,1.6,1.3,1.6
            		c1.2,0,2.4-0.9,3.4-2.6c1-1.7,1.5-3.7,1.5-5.9c0-3.5-1.2-6.4-3.7-8.7c-2.5-2.3-5.6-3.4-9.4-3.4c-4,0-7.3,1.4-10.1,4.1
            		c-2.7,2.7-4.1,6.1-4.1,10.1c0,2.2,0.5,4.4,1.5,6.5c1,2,2.4,3.6,4.2,4.9c2.4,1.7,5.4,2.6,8.9,2.6c3.4,0,6.9-0.9,10.5-2.6l0.3-0.2
            		l1.1,3.1L49,54.7c-3.7,1.8-7.6,2.7-11.7,2.7c-4.5,0-8.2-1.1-11.3-3.2c-2.2-1.6-4-3.6-5.2-6c-1.2-2.6-1.9-5.2-1.9-7.9
            		c0-4.9,1.7-8.9,5.1-12.2s7.7-4.9,12.7-4.9c4.6,0,8.5,1.4,11.6,4.3c3.1,2.8,4.7,6.3,4.7,10.6c0,3.3-0.8,6.1-2.5,8.4
            		c-1.7,2.4-3.7,3.5-6,3.5c-1.8,0-3.1-0.9-3.7-2.6C39,49.1,37.1,50,34.9,50c-2.4,0-4.3-0.9-5.9-2.6c-1.5-1.7-2.3-3.9-2.3-6.5
            		c0-2.8,0.9-5.1,2.6-7c1.7-1.9,3.9-2.8,6.5-2.8c2.4,0,4.4,0.9,5.8,2.8l0.3-2.4H45.2z M40.8,39.9c0-1.3-0.5-2.4-1.4-3.3
            		c-0.9-0.9-2.1-1.3-3.4-1.3c-1.4,0-2.6,0.6-3.5,1.7c-0.9,1.1-1.4,2.5-1.4,4.2c0,1.5,0.4,2.7,1.1,3.7c0.7,1,1.7,1.4,2.9,1.4
            		c1.5,0,2.8-0.6,4-1.9S40.8,41.6,40.8,39.9z"/>
            </g>
            </svg>
            <span class="s-link-text">Contact</span>
          </a>
        </li>
        
      </ul>
    </nav>
    <main>
      <%= yield %>
    </main>
  </body>
  
</html>
